@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "NataliaZekic";
    src: url("font/NataliaZekic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    outline: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn{
    cursor: pointer;
    border:.2rem solid #d78690 ;
    background-color:#f197a3;
    padding:.4rem 3rem;
    margin-top: 1rem;
    position: relative;
    z-index: 0;
    font-size: 1.9rem;
    border-radius: 8px;
    color: white;
}

.btn:hover{
    background-color: #d78690;
}

.heading{
    display: inline-block;
    color:#333;
    margin:2rem 0;
    padding:1rem 0;
    padding-top: 8rem;
    font-size: 3rem;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top:0; left: 0;
    z-index: 1000;
    padding:1rem 3rem;
    background-color: #634f74;
}
header .logo img{
    width: 50px;
}

header .navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
}

header .navbar ul li{
    margin:0 2rem;
}

header .navbar ul li a{
    color:#fff;
    font-size: 2rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:#f197a3;
}

.home, .homeOstalo{
    min-height: 100vh;
    background-image:  url(slike/pocslika2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.homeOstalo h1{
    font-size: 6rem ;
    text-transform: uppercase;
    font-weight: 900;
}

.home h1{
    font-size: 9rem;
    text-shadow: #5d5d5d22 2px 2px 2px;
    text-align: center;
    padding:0 1rem;
    font-family: "NataliaZekic";
}

.home h1, .homeOstalo h1{
    color: #f197a3;
}

.home h2{
    font-size: 3rem;
    color: #d78690;
    font-style: italic;
}

.home .btn {
    box-shadow: 0 .3rem .5rem #000;
    color:#fff;
}

.omeni{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color:#333;
    padding-bottom: 5rem;

}

.aboutme{
    margin-top: 10rem;
}

.omeninaslov, .radovi h1, .videoYT h1, .naslovVjezbi, .videoNaslov{
    margin-top: 5%;
    text-align: center;
    font-size: 4rem;
    color: #634f74;
}

.radovi h1, .videoYT h1{
    margin-top: 3%;
    margin-bottom: 2%;
}

.podaci{
  width: 30%;
}

.pfp img {
  width: 250px;
  margin: 0px 20px 20px 20px;
}

.podaci h1{
    font-size: 3.4rem; 
    color:#404040; 
    margin-bottom: 0.7rem;
}

mark{
    background-color: #f4808fba;
}

.podaci ol{
    margin-left: 30px;
}

.radovi-container{
    display: flex;
    justify-content: center;
    gap: 2%;

}

.radovi-container img{
    width: 25%;
}

.radovi-container img:hover{
    opacity: 0.9;
}

.videoYT{
    margin-bottom: 50px;
}

.video{
    display: flex;
    justify-content: center;
}

.naslovVj{
    text-align: center;
    color:#634f74;
    font-size: 17px;
    margin-top: 5px;

}

.opisVj{
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}
.vjezbe-cont, .kolokvij{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 20px;
}

.vjezbe-cont div{
    flex: 25%;
    max-width: 20%;
    padding: 0 4px;
}

.kolokvij div{
    max-width: 60%;

}
.vjezbe-cont div img{
    margin-top: 8px;
    vertical-align: middle;
    
}

.vjezbe-cont img:hover{
  opacity: 0.9;

}

.reklama{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.reklamaOpis{
    width: 50%;
}

.footer {
    color:#eee;
    background:#333;
    text-align: center;
    padding:2rem 1rem;
    font-size: 2rem;
}

.footer a {
    color:#8967c0;
}

.footer a:hover {
    color:#fff;
}
