@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,600");
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
   background-image: url("slike/oblaci.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1990px;
  font-size: 17px;
}
a{
    text-decoration: none;
}
h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: #817091;
  text-align: center;
  
  margin: 0;
}
h2{
    text-align: center;
    margin: 0;
}
.imePrezime{
  font-size: 80px;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;

}
.opisIspod{
  color: rgb(65, 59, 59);
  width: 60vw;
}
.opis{
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.navigacija {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5%;
}
.logo img {
  width: 45px;
  position: absolute;
  left: 60px;
  top: 9px;
}
.navbar a {
  font-size: 18px;
  padding: 15px;
  font-weight: 600;
  color: #f47082;
}
.navbar a:hover{
    color: #b7636e;

}
.omeni, .interesiContainer, .videoContainer{
      display: flex;
  justify-content: center;
  align-items: center;


}
.omeninaslov{
    margin-top: 50px;
}
.podaci{
  width: 30%;
}
.pfp img {
  width: 250px;

  margin: 0px 20px 20px 20px;
}

.omeni-container h2 {
  text-transform: uppercase;
  font-weight: 600;
  color: #f197a3;
  margin-bottom: 10px;
  
}
mark{
    background-color: #f4808fba;
}

.viseOmeni{
  color: white;
    background-color: #dc7c89;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;

}
.viseOmeni h1{
    color: white;
}

.interesiContainer{
  gap: 10%;

  
}
.interesiContainer h3{
  text-align: left;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 25%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.column img:hover{
  opacity: 0.9;

}
.videoContainer{
  gap:20px;
}
.videoNaslov{
  margin-top: 5%;
  margin-bottom: 20px;
}
.zvuk{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

}